@import '../../../_variables.scss';

#task-hierarchy {
  height: 100%;
  margin-right: 50px;
}

#task-hierarchy-title {
  text-align: center;
  padding-bottom: 18px;
  margin: 8px 0;

  h2 {
    display: inline-block;
    margin: 0;
  }
}

#task-labels {
  display: flex;
  padding: 0 3px 3px 40px;
  font-size: 19px;
  text-decoration: underline;
}

.label-task-icons {
  margin-left: auto;
}

.label-status {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  min-width: 110px;
  max-width: 145px;
}

.label-assigned-to {
  width: 190px;
  padding: 0 9px;
}

.label-due-date {
  width: 108px;
  padding: 0 4px;
}

ul {
  list-style-type: none;
}

#root-ul-ctn {
  padding-left: 0px;
}

@media (max-width: $layout-desktop_width--small) {
  #task-hierarchy .hide-small {
    display: none;
  }

  #task-hierarchy ul ul.ul-ctn {
    padding-left: 3vw;
  }
}

@media (min-width: $layout-desktop_width--small) {
  .label-status {
    min-width: 145px;
  }
}

@media (max-width: $layout-mobile_width--landscape) {
  #task-hierarchy .hide-xsmall-hier {
    display: none;
  }
}

// ============ Dark theme ============

.theme-dark {
  #task-hierarchy-title h2 {
    color: $body_text-color--white;
  }

  #task-labels {
    color: $body_text-color--white;
  }
}

// ============ Light theme ============

.theme-light {
  .content {
    background-color: $body_background-color--white;
    border-color: $box_border-color--dark-gray;
  }

  #task-labels {
    color: $body_text-color--black;
  }
}