@import '../../../_variables.scss';

.task-status-ctn {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 0.85em;
  word-spacing: -0.08em;
  min-width: 145px;
  max-width: 145px;
  
  &:hover #task-edit-icon {
    display: block;
  }

  .dropdown {
    height: 100%;
    width: 100%;

    ul {
      z-index: 9001;
      border-radius: 5px;
      margin: 4px 0 0 -7px;
      padding: 0;
      min-width: 0;
  
      li a {
        padding: 2px 6px;
      }
    }
  }

  img {
    display: flex;
    min-width: 30px;
    max-width: 46px;
    width: 14vw;
    height: auto;
    margin-left: 6px;
  }
}

#task-status-dropdown {
  height: 100%;
  width: 100%;
  padding: 0;
  text-align: left;
  background: none;
  border: none;
}

.edit-icon-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
}

#task-edit-icon {
  display: none;
  position: relative;
  transform: rotate(90deg);
}

@media (min-width: $layout-desktop_width--small) {
  .task-status-ctn {
    white-space: nowrap;
  }
}

@media (max-width: $layout-mobile_width--portrait) {
  .task-status-ctn {
    min-width: 74px;
    max-width: 74px;

    img {
      display: none;
    }
  }

  #task-status-dropdown {
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }
}

// ============ Dark theme ============

.theme-dark {
  #task-status-dropdown {
    color: $color-gray15;
  }

  .task-status-Done #task-status-dropdown {
    color: $color-green1;
  }
}

// ============ Light theme ============

.theme-light {
  #task-status-dropdown {
    color: $color-gray1;
  }

  .task-status-Done #task-status-dropdown {
    color: $color-green2;
  }
}