@import '../../../_variables.scss';

#right-panel {
  height: 100%;
  width: 50px;
  border-style: solid;
  border-width: 1px;
}

.right-panel-ctn {
  display: flex;
  right: 0;
  height: 100%;
  max-height: calc(100vh - 60px);
  position: fixed;
}

.right-panel-content-ctn {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 1.2em;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  height: 100%;
  max-height: calc(100vh - 60px);
  width: 100%;
  min-width: 500px;
  max-width: 35vw;
  right: 50px;
  border-right: none;
  position: fixed;
  overflow-y: auto;
}

.toggle-panel-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  cursor: pointer;
}

.rp-menu-ctn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.rp-menu-icon {
  margin-top: 8px;
  cursor: pointer;
}

@media (max-width: $layout-mobile_width--landscape) {
  .right-panel-content-ctn {
    width: calc(100vw - 50px);
    min-width: calc(100vw - 50px);
    max-width: calc(100vw - 50px);
  }
}

// ============ Dark theme ============

.theme-dark {
  #right-panel {
    border-color: $box_border-color--medium-gray;
    background-color: $body_background-color--black;
  }

  .right-panel-content-ctn {
    border-color: $box_border-color--medium-gray;
    color: $color-gray15;
    background-color: $body_background-color--black;
  }

  .toggle-panel-ctn {
    border-bottom-color: $box_border-color--medium-gray;
    color: $color-pure-white;
  
    &:hover {
      background-color: $color-gray2;
      color: $color-blue4;
    }
  }

  .rp-menu-icon {
    color: $color-blue2;

    &.Active {
      color: $color-violet1;
    }
  }
}

// ============ Light theme ============

.theme-light {
  #right-panel {
    border-color: $box_border-color--light-gray;
    background-color: $color-gray15;
  }

  .right-panel-content-ctn {
    border-color: $box_border-color--light-gray;
    color: $color-gray2;
    background-color: $color-gray15;
  }

  .toggle-panel-ctn {
    border-bottom-color: $box_border-color--light-gray;
    color: $color-pure-black;
  
    &:hover {
      background-color: $color-gray15;
      color: $color-blue4;
    }
  }

  .rp-menu-icon {
    color: $color-blue2;

    &.Active {
      color: $color-violet1;
    }
  }
}