@import 'css/_variables.scss';

.UserSettingsButton {
  border: none;

	span {
		margin-left: 5px;

    &.Username {
      vertical-align: middle;
    }
	}
}

.ContributionPointsContainer {
  position: relative;

  .ContributionStar {  
    position: absolute;
  }
}

#user-settings-popopver .theme-change {
  margin: 5px 0 10px;

  span {
    display: inline-block;
    opacity: 0.4;
    cursor: pointer;  
    margin: 0 4px;

    &.active {
      opacity: 1;
      background-color: transparent !important;
      cursor: default;
    }
  }
}

/* ============ Dark theme ============ */

.theme-dark .UserSettingsButton {
  background: none;
  color: $body_text-color--white;
}

/* ============ Light theme ============ */

.theme-light .UserSettingsButton {
  background: none;
  color: $body_text-color--black;
}