@import 'css/_variables.scss';

.UserSettingsButton {
  border: none;
}

.UserSettingsButton span.Username {
  vertical-align: middle;
}

.UserSettingsButton span {
  margin-left: 5px;
}

.ContributionPointsContainer {
  position: relative;
}

.ContributionPointsContainer .ContributionStar {  
  position: absolute;
}

/* ============ Dark theme ============ */

.theme-dark .UserSettingsButton {
  background: none;
  color: $body_text-color--white;
}

/* ============ Light theme ============ */

.theme-light .UserSettingsButton {
  background: none;
  color: $body_text-color--black;
}