@import '_variables.scss';

.navbar {
  position: fixed;
  border-radius: 0px;
  border: none;
  margin: 0;
  height: $header_height;
  width: 100%;
  top: 0;
  z-index: 10;

  .container {
    align-items: center;
    width: 100%;
    padding: 0 32px 0 32px;
  }
}

.navbar-collapse {
  height: 200px;
}

.modal-title {
  text-align: center;
}

.modal-btn-ctn {
  text-align: right;
  padding-right: 16px;

  .btn {
    margin-left: 10px;
  }
}

.navbar-header {
  height: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header_height;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.navbar-nav {
  height: $header_height;

  li {
    height: $header_height;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $header_height;

      button {
        padding-bottom: 2px;
        background: transparent;
      }
    }
  }

  @media (max-width: $layout-tablet_width--portrait) {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
  }
}

// ============ Dark theme ============

.theme-dark {
  .navbar {
    background-color: $body_background-color--black;
  }

  .navbar-collapse.collapse {
    background-color: $body_background-color--black;
  }

  .navbar-brand {
    color: $body_text-color--white !important;

    &:hover {
      color: $body_text-color--purple !important;
    }
  }

  .navbar-nav {
    li a {
      color: $body_text-color--white !important;

      &:hover {
        color: $body_text-color--blue !important;
      }
    }

    @media (max-width: $layout-tablet_width--portrait) {
      background-color: $button_background-color--black;
      border-color: $button_border-color--white;
    } 
  }
}

// ============ Light theme ============

.theme-light {
  .navbar {
    background-color: $body_background-color--white;
  }

  .navbar-collapse.collapse {
    background-color: $body_background-color--white;
  }

  .navbar-brand {
    color: $body_text-color--black !important;

    &:hover {
      color: $body_text-color--purple !important;
    }
  }

  .navbar-nav {
    li a {
      color: $body_text-color--black !important;

      &:hover {
        color: $body_text-color--blue !important;
      }
    }

    @media (max-width: $layout-tablet_width--portrait) {
      background-color: $button_background-color--white;
      border-color: $button_border-color--black;
    } 
  }
}