/* Layout */
$tablet_width--portrait: 768px;

$header_height: 60px;


/* Background */
$body_background-color--black: #141414;
$body_background-color--white: #fcfcfc;

/* Text */
$body_text-color--black: #141414;
$body_text-color--blue: #1fc7d3;
$body_text-color--purple: #8662ea;
$body_text-color--white: #fcfcfc;

/* Buttons */
$button_border-color--black: #141414;
$button_border-color--white: #fcfcfc;
$button_background-color--black: #141414;
$button_background-color--white: #fcfcfc;