@import 'css/_variables.scss';

.App {
  position: relative;
}

.overflow-x-ctn {
  overflow-x: auto;
}

.overflow-y-ctn {
  overflow-y: auto;
}

.content-ctn {
  background-color: $body_background-color--black;
  min-height: calc(100vh - 110px);
  margin-top: $header_height;
  width: 100%;
}

.modal-backdrop {
  position: relative;
}

@media (max-width: $layout-xsmall) {
  .hide-xsmall {
    display: none;
  }
}
