@import '_variables.scss';

#dashboard {
  height: calc(100vh - $header_height);
  padding: 30px;
  margin-top: $header_height;
  padding-bottom: 50px;
  overflow: auto;

  @media (max-width: $layout-tablet_width--portrait) {
    padding: 30px 0;
  }
}

#dashboard-title {
  text-align: center;
}

#dash-first-row {
  display: flex;
}

#dash-second-row {
  display: flex;
}

.dash-ctn {
  flex: 1;
  padding: 10px;
}

.dash-box {
  padding: 12px;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
}

.dash-box-header {
  position: relative;
}

.dash-box-title {
  display: inline;
}

.add-icon {
  color: $icon_color--white;
  position: absolute;
  margin-left: 15px;
  margin-top: 5px;
}


// ============ Dark theme ============
.theme-dark {
  #dashboard {
    background-color: $body_background-color--black;
  }

  #dashboard-title {
    color: $body_background-color--white;
  }

  .dash-box {
    border-color: $box_border-color--gray;
  }

  .dash-box-title {
    color: $body_text-color--light-gray;
  }

  .add-icon {  
    color: $icon_color--white;
  }
}

// ============ Light theme ============

.theme-light {
  #dashboard {
    background-color: $body_background-color--white;
  } 

  #dashboard-title {
    color: $body_background-color--black;
  }

  .dash-box {
    border-color: $box_border-color--dark-gray;
  }

  .dash-box-title {
    color: $body_text-color--dark-gray;
  }

  .add-icon {
    color: $icon_color--black;
  }
}