@import '../../../../_variables.scss';

.li-task-ctn {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.task-ctn {
  display: flex;
  justify-content: center;
  min-height: 40px;
}

.toggle-ctn {
  padding-right: 6px;
}

.toggle-icon-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.toggle-icon-ctn-disable {
  width: 26px;
  height: 26px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}

.task-row-ctn {
  flex: 1;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 2px 2px 1px 0px;
  margin-bottom: 3px;
  min-width: 0; /* Firefox workaround; see https://github.com/philipwalton/flexbugs/issues/39 */
}

.task-title {
  width: 100%;
  min-width: 0; /* Firefox workaround; see https://github.com/philipwalton/flexbugs/issues/39 */
  padding: 0 10px;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.task-title-buffer {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}

.task-title-status-Done {
  text-decoration: line-through;

  &:hover {
    text-decoration: none;
  }
}

.task-icons-ctn {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  width: 80px;
  min-width: 80px;
  align-items: center;
}

.icon-ctn {
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 34px;
  max-width: 36px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  margin-right: 8px;

  &:hover {
    cursor: pointer;
  }
}

.task-due-date {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 108px;
  min-width: 108px;
  padding: 0 4px;
}

.edit-assignee-button {
  border-radius: 5px;
}

.assignee-button {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
  border-radius: 5px;
}

@media (max-width: $layout-desktop_width--small) {
  #task-hierarchy {
    .task-row-ctn {
      padding: 0;
    }

    .task-icons-ctn {
      min-width: 28px;
      width: 28px;
    }
  }
}

// ============ Dark theme ============

.theme-dark {
  .task-ctn {
    color: $body_background-color--white;
  }

  .toggle-icon-ctn {
    border-color: $button_border-color--black;

    .minus-icon {
      color: $color-violet1;
    }
  
    .plus-icon {
      color: $icon_color--blue;
    }

    &:hover {
      .minus-icon {
        color: $color-violet2;
      }
  
      .plus-icon {
        color: $icon_color--light-blue;
      }
    }
  }

  .toggle-icon-ctn-disable {
    background-color: $button_background-color--dark-gray;
    border-color: $button_border-color--black;
  }

  .task-row-ctn {
    background-color: $button_background-color--black;
    border-color: $button_border-color--dark-gray;

    &:hover {
      border-color: $button_border-color--light-gray;
    }
  }

  .task-title-status-Done {
    color: $color-gray9;
  
    &:hover {
      color: $color-gray15;
    }
  }

  .assigned-to-me {
    background-color: $color-violet5;
  }

  .assignee-button {
    background-color: $button_background-color--black;
  
    &:hover {
      border-color: $button_border-color--white;
    }
  }

  .edit-assignee-button {
    background-color: $color-blue2;
    color: $color-pure-white;
  
    &:hover {
      border-color: $button_border-color--white;
    }
  }

  .icon-ctn {
    background-color: $button_background-color--black;
    border-color: $button_border-color--medium-gray;

    &:hover {
      color: $color-gray15;
      border-color: $button_border-color--white;
    }

    svg {
      color: $color-pure-white;
    }
  }
}

// ============ Light theme ============

.theme-light {
  .task-ctn {
    color: $body_background-color--black;
  }

  .toggle-icon-ctn {
    border-color: $button_border-color--white;

    .minus-icon {
      color: $color-violet2;
    }
    
    .plus-icon {
      color: $icon_color--light-blue;
    }

    &:hover {
      .minus-icon {
        color: $color-violet1;
      }
      
      .plus-icon {
        color: $icon_color--blue;
      }
    }
  }

  .toggle-icon-ctn-disable {
    background-color: $button_border-color--light-gray;
    border-color: $button_background-color--light-gray;
  }

  .task-row-ctn {
    background-color: $button_background-color--white;
    border-color: $button_border-color--light-gray;

    &:hover {
      border-color: $button_border-color--dark-gray;
    }
  }

  .task-title-status-Done {
    color: $color-gray9;
  
    &:hover {
      color: $color-gray3;
    }
  }

  .task-due-date {
    color: $body_text-color--black;
  }

  .assigned-to-me {
    background-color: $color-violet5;
  }

  .assignee-button {
    background-color: $color-pure-white;
    color: $body_text-color--black;
  
    &:hover {
      border-color: $color-pure-black;
    }
  }

  .edit-assignee-button {
    background-color: $color-blue2;
    color: $color-pure-black;
  
    &:hover {
      border-color: $color-pure-black;
    }
  }

  .icon-ctn {
    background-color: $color-pure-white;
    border-color: $color-gray8;

    &:hover {
      color: $color-gray2;
      border-color: $color-pure-black;
    }

    svg {
      color: $color-pure-black;
    }
  }
}