.navbar {
  position: fixed;
  background-color: #141414;
  border-radius: 0px;
  border: none;
  margin: 0;
  height: 60px;
  width: 100%;
  top: 0;
  z-index: 10;

  .container {
    align-items: center;
    width: 100%;
    padding: 0 32px 0 32px;
  }
}

.navbar-collapse {
  height: 200px;

  &.collapse {
    background-color: black;
  }
}

.modal-title {
  text-align: center;
}

.modal-btn-ctn {
  text-align: right;
  padding-right: 16px;

  .btn {
    margin-left: 10px;
  }
}

.navbar-header {
  height: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: #fcfcfc !important;
  padding-left: 0 !important;
  margin-left: 0 !important;

  &:hover {
    color: #8662ea !important;
  }
}

.navbar-nav {
  height: 60px;

  li {
    height: 60px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      color: #efefef !important;

      &:hover {
        color: #1fc7d3 !important;
      }

      button {
        padding-bottom: 2px;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
  }
} 
