@import '../../../../../_variables.scss';

#task-options-dropdown {
  height: 100%;
  width: 100%;
  padding: 0;
  text-align: left;
  background: none;
  border: none;
}

.task-options-menu-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.task-options-menu-item div {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.action-icon {
  margin-right: 5px;
}

.task-options-ctn {
  &:hover {
    display: block;
  }

  .dropdown ul {
    z-index: 9001;
    border-radius: 5px;
    margin: 4px 0 0 -7px;
    padding: 0;
    min-width: 0;

    li a {
      padding: 2px 6px;
    }
  }
}

// ============ Dark theme ============

.theme-dark {
  #task-options-dropdown {
    color: $color-gray15;
  }
}

// ============ Light theme ============

.theme-light {
  #task-options-dropdown {
    color: $color-gray2;
  }
}