@import '../../../../_variables.scss';

.task-list {
  padding-left: 0;
}

.task-list-ctn {
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-width: 0; /* Firefox workaround; see https://github.com/philipwalton/flexbugs/issues/39 */

  .task-assignment-ctn {
    font-size: 1em;
  }

  .pursuance-tasks-ctn {
    margin: 16px;
  }
}

.task-item {
  margin-bottom: 8px;
  padding: 5px 2px 5px 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;

  .task-assignment-ctn {
    margin: 4px 10px 4px 0;
  }
}

.task-list-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 3px;

  .clear-input {
    transition: opacity $base-animation-style;
    display: inline-block;
    z-index: 1;
    width: 28px;
    height: 28px;
    pointer-events: auto;
    cursor: pointer;
    padding: 0;
    border: 0;
    opacity: 0.8;
    margin-left: 10px;
    background-color: transparent;

    &:focus,
    &:active {
      box-shadow: none;
      background-color: transparent;
    }

    &.clear-input--hide {
      cursor: default;
      opacity: 0.2;
    }

    &:not(.clear-input--hide):hover {
      opacity: 1;
    }
  }

  input {
    margin-left: 10px;
    width: calc(100% - 65px);
    height: 34px;
    border-radius: 4px;
    padding-left: 5px;
    border: none;
    outline: none;
  }
}

@media (max-width: $layout-mobile_width--portrait) {
  .task-item {
    padding: 0 0 0 4px;
  }
}

@media (max-width: $layout-mobile_width--landscape) {
  .task-list-title,
  .task-list-filter {
    margin-left: 8px;
  }
  .task-list-ctn .pursuance-tasks-ctn {
    margin: 4px;
  }
}

// ============ Dark theme ============

.theme-dark {
  .task-list-ctn .pursuance-tasks-ctn input {
    color: $color-pure-black;
  }

  .task-item {
    border-color: $color-gray5;
  }

  .task-list-filter {
    .clear-input {
      color: $color-pure-white;
    }
  }
}

// ============ Light theme ============

.theme-light {
  .task-list-ctn .pursuance-tasks-ctn input {
    color: $color-pure-white;
  }

  .task-item {
    border-color: $color-gray9;
  }

  .task-list-filter {
    .clear-input {
      color: $color-pure-black;
    }
  }
}
