@import '../../../_variables.scss';

.create-pursuance-form {
  width: 70%;
  margin: 0 auto;
  max-width: 1280px;
}

.create-pursuance-input {
  width: 80%;
  margin: 7px auto;
  font-size: $text-input_font-size;
  border-radius: $text-input_border-radius;
  border: none;
  outline: none;
  padding-left: 5px;
  resize: vertical;
}

.create-pursuance-setting {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  width: 45%;

  .radio-field {
    margin-top: 0;
  }
}

.create-pursuance-info-icon {
  cursor: pointer;
  margin: 0 10px;
}

.radio-field-span {
  margin: 0 15px 0 5px;
  line-height: 24px;
}

.create-pursuance-button {
  font-size: $button_font-size--primary;
  width: 40%;
  margin: 15px auto;
  border-radius: $button_border-radius--primary;
}

// ============ Dark theme ============

.theme-dark {
  .create-pursuance-info-icon {
    color: $icon_color--white;
  }

  .create-pursuance-input {
    background-color: $text-input_background-color--white;
    color: $text-input_text-color--black;
  }
  
  .radio-field-span {
    color: $body_text-color--white;
  }
  
  .create-pursuance-button {
    color: $body_text-color--white;
    background-color: $button_background-color--blue;
  }
}

// ============ Light theme ============

.theme-light {
  .create-pursuance-info-icon {
    color: $icon_color--white;
  }

  .create-pursuance-input {
    background-color: $text-input_background-color--light-gray;
    color: $text-input_text-color--black;
  }
  
  .radio-field-span {
    color: $body_text-color--black;
  }
  
  .create-pursuance-button {
    color: $body_text-color--white;
    background-color: $button_background-color--blue;
  }
}