// Layout
$layout-desktop_width--small: 1279px;
$layout-tablet_width--portrait: 768px;
$layout-mobile_width--landscape: 639px; 
$layout-mobile_width--portrait: 479px;  

$header_height: 60px;

// Generic colors
$color-pure-black: #000;
$color-gray1: #141414;
$color-gray2: #333;
$color-gray3: #444;
$color-gray5: #6d6d6d;
$color-gray8: #808080;
$color-gray9: #999;
$color-gray15: #eee;

$color-white: #fcfcfc;
$color-pure-white: #fff;

$color-violet1: #9b77ff;
$color-violet2: #bb97ff;
$color-violet4: #8662ea;
$color-violet5: rgba(170, 0, 255, .9);

$color-blue1: #288bd6;
$color-blue2: #50b3fe;
$color-blue3: #71d4ff;
$color-blue4: #1fc7d3;

// Background
$body_background-color--black: $color-gray1;
$body_background-color--white: $color-white;

// Text
$body_text-color--black: $color-gray1;
$body_text-color--blue: $color-blue4;;
$body_link-color--blue: $color-blue2;
$body_text-color--purple: $color-violet4;
$body_text-color--dark-gray: $color-gray3;
$body_text-color--light-gray: $color-gray15;
$body_text-color--white: $color-white;

// Buttons
$button_border-style: 1px solid;
$button_border-radius--primary: 10px;
$button_border-color--black: $color-gray1;
$button_border-color--white: $color-white;
$button_border-color--dark-gray: $color-gray2;
// $button_border-color--light-gray: ; 
$button_border-color--light-gray: $color-gray15;

$button_background-color--black: $color-gray1;
$button_background-color--white: $color-white;
$button_background-color--blue: $color-blue1;
$button_background-color--light-gray: $color-gray15;

$button_font-size--primary: 26px;

// Icons
$icon_color--white: $color-pure-white;
$icon_color--black: $color-pure-black;
$icon_color--blue: $color-blue2;
$icon_color--light-blue: $color-blue3;

// Boxes
$box_border-color--gray: $color-gray8;
$box_border-color--medium-gray: $color-gray5;
$box_border-color--dark-gray: $color-gray3;

// Forms
$text-input_background-color--white: #fff;
$text-input_background-color--light-gray: $color-gray15;
$text-input_text-color--black: $color-pure-black;
$text-input_border-radius: 4px;
$text-input_font-size: 18px;

// modal windows, tooltips, etc.
$modal_border-style: 1px solid;
$modal_border-color--white: $color-white;

$modal_background-color--black: $color-gray1;
$modal_background-color--white: $color-white;

// Animations
$base-animation-style: 200ms ease-in-out;