@import '_variables.scss';

.App {
  position: relative;
}

.overflow-x-ctn {
  overflow-x: auto;
}

.overflow-y-ctn {
  overflow-y: auto;
}

.content-ctn {
  min-height: calc(100vh - 110px);
  margin-top: $header_height;
  width: 100%;
}

.modal-backdrop {
  position: relative;
}

@media (max-width: $layout-mobile_width--landscape) {
  .hide-xsmall {
    display: none;
  }
}


// ============ Dark theme ============

.theme-dark {
  .content-ctn {
    background-color: $body_background-color--black;
  }

  .create-pursuance-container {
    background-color: $body_background-color--black;
  }
  
  .create-pursuance-header {
    color: $body_text-color--white;
  }
}

// ============ Light theme ============

.theme-light {
  .content-ctn {
    background-color: $body_background-color--white;
  }

  .create-pursuance-container {
    background-color: $body_background-color--white;
  }
  
  .create-pursuance-header {
    color: $body_text-color--black;
  }
}