@import '../../../../_variables.scss';

.discuss-ctn {
  display: flex;
  width: 100%;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-width: 0; /* Firefox workaround; see https://github.com/philipwalton/flexbugs/issues/39 */
}

.leapchat-frame {
  display: flex;
  flex: 1;
  height: calc(100vh - 60px);
  border-style: solid;
  border-width: 1px;
  border-right: none;
  border-bottom-left-radius: 4px;
  margin-right: 50px;
  min-width: 270px;
}

.leapchat-frame-narrow {
  max-width: calc(100vw - 662px);
}

@media (max-width: $layout-mobile_width--portrait) {
  /* FIXME(elimisteve): Not affecting UI when screen width < 350px for some reason */
  .leapchat-frame-narrow {
    max-width: calc(100vw - 50px);
  }
}

@media (max-width: $layout-desktop_width--small) {
  .leapchat-frame-narrow {
    max-width: calc(100vw - 628px);
  }
}

@media (min-width: $layout-desktop_width--medium) {
  .leapchat-frame-narrow {
    max-width: calc(65vw - 162px);
  }
}

// ============ Dark theme ============

.theme-dark {
  .discuss-ctn {
    background-color: $color-gray1;
  }

  .leapchat-frame {
    border-color: $color-gray5;
  }
}

// ============ Light theme ============

.theme-light {
  .discuss-ctn {
    background-color: $color-gray15;
  }

  .leapchat-frame {
    border-color: $color-gray9;
  }
}